# Build output
[Bb]in/
[Oo]bj/
[Oo]ut/
[Dd]ebug/
[Rr]elease/
[Xx]64/
[Xx]86/
[Pp]ublish/
build/
bld/

# Visual Studio / Rider / VS Code
.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates
*_wpftmp.csproj

# NuGet
*.nupkg
*.snupkg
packages/
!packages/build/
project.lock.json
project.fragment.lock.json

# .NET
*.dll
*.pdb
*.cache
*.dgspec.json

# OS cruft
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
